#
# (c) Copyright 2016 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
---

meter_metric_map:
  - name: "disk.device.write.requests"
    monasca_metric_name: "vm.io.write_ops"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "request"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.device.allocation"
    monasca_metric_name: "vm.disk.allocation"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "B"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.device.usage"
    monasca_metric_name: "vm.disk.physical"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "B"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.capacity"
    monasca_metric_name: "vm.disk.capacity_total"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "B"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.device.read_bytes"
    monasca_metric_name: "vm.io.read_bytes"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "B"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.usage"
    monasca_metric_name: "vm.disk.physical_total"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "B"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.device.write_bytes"
    monasca_metric_name: "vm.io.write_bytes"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "B"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.read.bytes"
    monasca_metric_name: "vm.io.read_bytes_total"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "B"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.device.capacity"
    monasca_metric_name: "vm.disk.capacity"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "B"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.write.bytes"
    monasca_metric_name: "vm.io.write_bytes_total"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "B"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.read.requests"
    monasca_metric_name: "vm.io.read_ops_total"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "request"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.allocation"
    monasca_metric_name: "vm.disk.allocation_total"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "B"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.write.requests"
    monasca_metric_name: "vm.io.write_ops_total"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "request"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.device.read.requests"
    monasca_metric_name: "vm.io.read_ops"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "request"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.device.write.requests.rate"
    monasca_metric_name: "vm.io.write_ops_sec"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "request/s"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.read.bytes.rate"
    monasca_metric_name: "vm.io.read_bytes_total_sec"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "B/s"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.device.write.bytes.rate"
    monasca_metric_name: "vm.io.write_bytes_sec"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "B/s"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.read.requests.rate"
    monasca_metric_name: "vm.io.read_ops_total_sec"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "request/s"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.device.read.requests.rate"
    monasca_metric_name: "vm.io.read_ops_sec"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "request/s"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.write.requests.rate"
    monasca_metric_name: "vm.io.write_ops_total_sec"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "request/s"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.device.read.bytes.rate"
    monasca_metric_name: "vm.io.read_bytes_sec"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "B/s"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "disk.write.bytes.rate"
    monasca_metric_name: "vm.io.write_bytes_total_sec"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "B/s"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "compute.node.cpu.kernel.percent"
    monasca_metric_name: "cpu.system_perc"
    resource_id: $.dimensions.hostname
    project_id: "NA"
    user_id: "NA"
    region: "NA"
    type: "gauge"
    unit: "%"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "compute.node.cpu.percent"
    monasca_metric_name: "cpu.percent"
    resource_id: $.dimensions.hostname
    project_id: "NA"
    user_id: "NA"
    region: "NA"
    type: "gauge"
    unit: "%"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "compute.node.cpu.idle.time"
    monasca_metric_name: "cpu.idle_time"
    resource_id: $.dimensions.hostname
    project_id: "NA"
    user_id: "NA"
    region: "NA"
    type: "cumulative"
    unit: "ns"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "compute.node.cpu.frequency"
    monasca_metric_name: "cpu.frequency_mhz"
    resource_id: $.dimensions.hostname
    project_id: "NA"
    user_id: "NA"
    region: "NA"
    type: "gauge"
    unit: "MHz"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "compute.node.cpu.user.time"
    monasca_metric_name: "cpu.user_time"
    resource_id: $.dimensions.hostname
    project_id: "NA"
    user_id: "NA"
    region: "NA"
    type: "cumulative"
    unit: "ns"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "compute.node.cpu.idle.percent"
    monasca_metric_name: "cpu.idle_perc"
    resource_id: $.dimensions.hostname
    project_id: "NA"
    user_id: "NA"
    region: "NA"
    type: "gauge"
    unit: "%"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "compute.node.cpu.iowait.time"
    monasca_metric_name: "cpu.wait_time"
    resource_id: $.dimensions.hostname
    project_id: "NA"
    user_id: "NA"
    region: "NA"
    type: "cumulative"
    unit: "ns"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "compute.node.cpu.user.percent"
    monasca_metric_name: "cpu.user_perc"
    resource_id: $.dimensions.hostname
    project_id: "NA"
    user_id: "NA"
    region: "NA"
    type: "gauge"
    unit: "%"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "compute.node.cpu.kernel.time"
    monasca_metric_name: "cpu.system_time"
    resource_id: $.dimensions.hostname
    project_id: "NA"
    user_id: "NA"
    region: "NA"
    type: "cumulative"
    unit: "ns"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "compute.node.cpu.iowait.percent"
    monasca_metric_name: "cpu.wait_perc"
    resource_id: $.dimensions.hostname
    project_id: "NA"
    user_id: "NA"
    region: "NA"
    type: "gauge"
    unit: "%"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "cpu"
    monasca_metric_name: "vm.cpu.time_ns"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "ns"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "memory.resident"
    monasca_metric_name: "vm.mem.resident_mb"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "MB"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "network.incoming.bytes"
    monasca_metric_name: "vm.net.in_bytes"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "B"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "network.outgoing.bytes"
    monasca_metric_name: "vm.net.out_bytes"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "B"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "network.incoming.packets"
    monasca_metric_name: "vm.net.in_packets"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "Packet"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "network.outgoing.packets"
    monasca_metric_name: "vm.net.out_packets"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "cumulative"
    unit: "Packet"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "cpu_util"
    monasca_metric_name: "vm.cpu.utilization_perc"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "%"
    source: "NA"
    resource_metadata: $.measurement[0][2]

  - name: "memory.usage"
    monasca_metric_name: "vm.mem.used_mb"
    resource_id: $.dimensions.resource_id
    project_id: $.dimensions.tenant_id
    user_id: $.dimensions.user_id
    region: "NA"
    type: "gauge"
    unit: "MB"
    source: "NA"
    resource_metadata: $.measurement[0][2]

