{#
#
# (c) Copyright 2015-2017 Hewlett Packard Enterprise Development LP
# (c) Copyright 2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
---

- name: default
  description: Default Pool

  ns_records:
{% for ns_rec in default_ns_records %}
    - hostname: {{ ns_rec.hostname }}
      priority: {{ ns_rec.priority }}
{% endfor %}

  nameservers:
{% if DES_PMG.consumes_FND_PDN is defined %}
{% for pdn_member in DES_PMG.consumes_FND_PDN.members.private %}
    - host: {{ pdn_member.ip_address }}
      port: {{ pdn_member.port }}
{% endfor %}
{% endif %}
{% if DES_PMG.consumes_FND_BND is defined %}
{% for bnd_member in DES_PMG.consumes_FND_BND.members.private %}
    - host: {{ bnd_member.ip_address }}
      port: {{ bnd_member.port }}
{% endfor %}
{% endif %}
#  also_notifies:
  targets:
{% if DES_PMG.consumes_FND_PDN is defined %}
    - type: pdns4
      description: PowerDNS4 Cluster

      masters:
{% if DES_PMG.consumes_DES_MDN is defined %}
{% for mdn_member in DES_PMG.consumes_DES_MDN.members.private %}
        - host: {{ mdn_member.ip_address }}
          port: {{ mdn_member.port }}
{% endfor %}
{% endif %}

      options:
        host: {{ DES_PMG.consumes_FND_PDN.members.private[0].ip_address }}
        port: 53
        connection: {{ designate_powerdns_database_connection }}
        api_endpoint: "http://{{ DES_PMG.consumes_FND_PDN.members.private[0].ip_address }}:8081"
        api_token: {{ designate_powerdns_api_key }}
{% endif %}


{% if DES_PMG.consumes_FND_BND is defined %}
{% for priv_member in DES_PMG.consumes_FND_BND.members.private %}
{% for rndc_member in DES_PMG.consumes_FND_BND.members.bind_rndc %}
{% if priv_member.ip_address == rndc_member.ip_address %}

    - type: bind9
      description: BIND9 Server {{ priv_member.ip_address }}

      masters:
{% if DES_PMG.consumes_DES_MDN is defined %}
{% for mdn_member in DES_PMG.consumes_DES_MDN.members.private %}
        - host: {{ mdn_member.ip_address }}
          port: {{ mdn_member.port }}
{% endfor %}
{% endif %}

      # BIND Configuration options
      options:
        host: {{ priv_member.ip_address }}
        port: {{ priv_member.port }}
        rndc_host: {{ rndc_member.ip_address }}
        rndc_port: {{ rndc_member.port }}
        rndc_key_file: /etc/bind/rndc.key
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

#
#    - type: infoblox
#      description: infoblox Cluster
#
#      masters:
{% if DES_PMG.consumes_DES_MDN_EXT is defined %}
{% for mdn_member in DES_PMG.consumes_DES_MDN_EXT.members.private %}
#        - host: {{ mdn_member.ip_address }}
#          port: {{ mdn_member.port }}
{% endfor %}
{% endif %}
#
#      options:
#        wapi_url: https://127.0.0.1/wapi/v2.2.2/
#        username: admin
#        password: infoblox
#        ns_group: designate
#        sslverify: False
#        dns_view: default
#        network_view: default
#
#
#    - type: dynect
#      description: DynECT API
#
#      options:
#        customer_name: dynect_customer
#        username: dynect_username
#        password: dynect_password
#
#      masters:
{% if DES_PMG.consumes_DES_MDN_EXT is defined %}
{% for mdn_member in DES_PMG.consumes_DES_MDN_EXT.members.private %}
#        - host: {{ mdn_member.ip_address }}
#          port: {{ mdn_member.port }}
{% endfor %}
{% endif %}
#
#  also_notifies:
   # This is the list of DynECT's xfr-in server IP addresses,
   # a up to date list can be obtained from your Dyn account manager.
#    - host: 204.13.249.65
#      port: 53
#    - host: 208.78.68.65
#      port: 53
#
#
#    - type: akamai
#      description: Akamai Server
#
#      options:
#        username: akamai_username
#        password: akamai_password
#
#      masters:
{% if DES_PMG.consumes_DES_MDN_EXT is defined %}
{% for mdn_member in DES_PMG.consumes_DES_MDN_EXT.members.private %}
#        - host: {{ mdn_member.ip_address }}
#          port: {{ mdn_member.port }}
{% endfor %}
{% endif %}
#
#  also_notifies:
   # This is the list of Akamai's zone transfer agent (ZTA) server IP
   # addresses, a up to date list can be obtained from your Akamai
   # account manager.
#    - host: 193.108.155.34
#      port: 53
#    - host: 23.73.134.141
#      port: 53
#    - host: 80.67.64.148
#      port: 53
#    - host: 23.73.134.237
#      port: 53
#    - host: 23.73.133.141
#      port: 53
#    - host: 23.73.133.237
#      port: 53
#    - host: 80.67.64.10
#      port: 53
#    - host: 72.246.0.10
#      port: 53
#    - host: 72.247.45.157
#      port: 53
#    - host: 72.246.192.168
#      port: 53
#    - host: 193.108.152.143
#      port: 53
#    - host: 60.254.128.45
#      port: 53
#    - host: 72.247.45.110
#      port: 53
#    - host: 72.247.45.65
#      port: 53
#    - host: 72.247.45.25
#      port: 53
