{#
#
# (c) Copyright 2016-2017 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017-2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
spark.driver.extraClassPath {{ spark_venv_lib_dir }}/{{ spark_jdbc_jar }}
spark.executor.extraClassPath {{ spark_venv_lib_dir }}/{{ spark_jdbc_jar }}

spark.blockManager.port {{ spark_blockmanager_port }}
spark.broadcast.port {{ spark_broadcast_port }}
spark.cores.max {{ spark_cores_max }}
spark.driver.memory {{ spark_driver_memory }}
spark.driver.port {{ spark_driver_port }}
spark.eventLog.dir {{ spark_event_log_directory }}
spark.executor.cores {{ spark_executor_cores }}
spark.executor.memory {{ spark_executor_memory }}
spark.executor.port {{ spark_executor_port }}
spark.fileserver.port {{ spark_fileserver_port }}
spark.python.worker.memory {{ spark_python_worker_memory }}
spark.speculation true
spark.speculation.interval 200
spark.sql.shuffle.partitions {{ spark_sql_shuffle_partitions }}
spark.worker.cleanup.enabled {{ spark_worker_cleanup_enabled }}
spark.cleaner.ttl {{ spark_cleaner_ttl }}
spark.sql.ui.retainedExecutions {{ spark_sql_ui_retainedExecutions }}
spark.streaming.ui.retainedBatches {{ spark_streaming_ui_retainedBatches }}
spark.worker.ui.retainedExecutors {{ spark_worker_ui_retainedExecutors }}
spark.worker.ui.retainedDrivers {{ spark_worker_ui_retainedDrivers }}
spark.ui.retainedJobs {{ spark_ui_retainedJobs }}
spark.ui.retainedStages {{ spark_ui_retainedStages }}
spark.executor.logs.rolling.maxRetainedFiles {{spark_executor_logs_rolling_maxRetainedFiles}}
spark.executor.logs.rolling.strategy {{spark_executor_logs_rolling_strategy}}
spark.executor.logs.rolling.time.interval {{spark_executor_logs_rolling_time_interval}}
