{#
#
# (c) Copyright 2015-2016 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
# This configuration file includes the default values of HOS
# Changes may be made to this file by customer

[DEFAULT]
log_config_append = "{{ eon_logging_conf }}"

# RabbitMQ
[oslo_messaging_rabbit]
rabbit_userid = "{{ rabbit_userid }}"
rabbit_password = "{{ rabbit_password }}"
rabbit_hosts = "{{ rabbit_hosts }}"
rabbit_use_ssl = "{{ rabbit_use_ssl }}"

[keystone_authtoken]
admin_tenant_name = "{{ eon_admin_tenant_name }}"
admin_password = "{{ eon_admin_password }}"
admin_user = "{{ eon_admin_user }}"
auth_uri = "{{ keystone_auth_uri }}"
identity_uri = "{{ keystone_identity_uri }}"
endpoint_type = "{{ eon_endpoint_type }}"
ca_certificates_file = "{{ eon_ca_certificates_file }}"

# Network driver
[network]
esx_network_driver = {{ eon_network_driver }}

### End of File  ###
## Do NOT put anything after this line ##
