{#
#
# (c) Copyright 2016 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
# This configuration file includes the default values of HOS
# Changes may be made to this file by customer

[cs_ace]
ace_auth_url = "{{ ace_admin_auth_url }}"
ace_password = "{{ ace_admin_password }}"
ace_tenant_name = "{{ ace_admin_tenant_name }}"
ace_username = "{{ ace_admin_username }}"
ace_auth_strategy = keystone
url = "{{ ace_url }}"
endpoint_type = "{{ ace_endpoint_type }}"
timeout = 300
