{#
#
# (c) Copyright 2015,2016 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
# This file has the HOS values that apply only to the Swift service.
# You may make changes to this file by adding sections/options below.

[swift-hash]

swift_hash_path_suffix = {{ swift_hash_path_suffix }}
swift_hash_path_prefix = {{ swift_hash_path_prefix }}

# Storage Policies
{% if storage_policies is defined %}
{%   for policy in storage_policies %}
[storage-policy:{{ policy.policy.index }}]
name = {{ policy.policy.name }}
aliases = {{ policy.policy.aliases_csv }}
{%     if policy.policy.default is defined %}
default = {{ policy.policy.default }}
{%     endif %}
{%     if policy.policy.ec_type is defined %}
policy_type = erasure_coding
ec_type = {{ policy.policy.ec_type }}
ec_num_data_fragments = {{ policy.policy.ec_data }}
ec_num_parity_fragments = {{ policy.policy.ec_parity }}
ec_object_segment_size = {{ policy.policy.ec_seg_size }}
{%     endif %}
{%   endfor %}
{% endif %}

## Do NOT put anything after this line ##
