table, tr {
    border:2px solid #01A982;
    background-color:#C6C9CA;
    padding:5;
    border-spacing:5;
}
td {
    border:1px solid #01A982;
    background-color:#E6E9EA;
    padding:5;
    border-spacing:5;
}
.title {
    background-color:#C6C9CA;
    border:0px ;
    padding:0;
    margin-left:10;
    font-weight:bold;
}
.tab {
    border:0px ;
    background-color:#E6E9EA;
    padding:0;
    padding-right:4;
    border-spacing:10 1;
    vertical-align:top;
}
.used_by {
    border:0px ;
    background-color:#E6E9EA;
    padding:0;
    padding-right:10;
    border-spacing:20 4;
}
