{#
#
# (c) Copyright 2015-2016 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
[DEFAULT]
log_config_append={{ ceilometer_nag_conf_dir }}/agent-notification-logging.conf
pipeline_cfg_file={{ ceilometer_nag_conf_dir }}/pipeline-agent-notification.yaml

[notification]
workload_partitioning=False
disable_non_metric_meters=False
meter_definitions_cfg_file={{ ceilometer_nag_conf_dir }}/meters.yaml

[monasca]
batch_mode=True
batch_count=1000
batch_timeout=15
batch_polling_interval=5
retry_on_failure=True
retry_interval=60
max_retries=10
archive_on_failure=False


## Need to publish ceilometer meters as admin tenant
## so that it is accessible through monasca using admin tenant
[service_credentials]
project_name={{ keystone.admin_tenant }}

[keystone_authtoken]
project_name={{ keystone.admin_tenant }}

