#
# (c) Copyright 2015,2016 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
[DEFAULT]
debug = {{ debug_logs }}
bind_host = {{ host.bind.GLA_API.internal.ip_address }}
bind_port = {{ glance_api_port }}
log_file = {{ glance_api_log_file }}
log_config_append={{ glance_api_conf_dir }}/glance-api-logging.conf
data_api = {{ glance_data_api }}
registry_host = {{ glance_registry_host }}
registry_port = {{ glance_registry_port }}
registry_client_protocol = {{ glance_registry_client_protocol }}
rpc_backend = {{ glance_api_notification_backend }}
{% if glance_api_cache_active %}
image_cache_max_size = {{ glance_api_cache_max_size }}
image_cache_dir = {{ glance_api_cache_dir }}
{% endif %}

[image_format]
container_formats = {{ container_formats }}

[keystone_authtoken]
revocation_cache_time = 10
auth_uri = {{ keystone_auth_uri }}
auth_url = {{ keystone_auth_url }}
auth_plugin = password
project_domain_name = {{ keystone_project_domain_name }}
user_domain_name =  {{ keystone_user_domain_name}}
project_name = {{ glance_admin_project_name }}
username = {{ glance_admin_user }}
password = {{ glance_admin_password }}

[oslo_messaging_rabbit]
rabbit_hosts = {{ rabbit_hosts }}
rabbit_userid = {{ rabbit_userid }}
rabbit_password = {{ rabbit_password }}
rabbit_use_ssl = {{ rabbit_use_ssl }}

[paste_deploy]
flavor = {{ glance_api_flavor }}

[profiler]
enabled = {{ osprofiler_enabled }}

[glance_store]
default_store = rbd
stores = rbd
rbd_store_pool = images
rbd_store_user = glance
rbd_store_ceph_conf = /etc/ceph/ceph.conf
rbd_store_chunk_size = 8

### amach stores = {{ glance_stores }}
### amach default_store = {{ glance_default_store }}
swift_store_auth_insecure = {{ glance_store_swift_auth_insecure }}
swift_store_endpoint_type = {{ glance_store_swift_store_endpoint_type }}
{% if GLA_API.consumes_SWF_PRX is defined %}
swift_store_endpoint = {{ GLA_API.consumes_SWF_PRX.vips.private[0].url }}/v1/AUTH_{{ glance_swift_project_id }}
{% else %}
swift_store_region = {{ GLA.regions | first }}
{% endif %}
swift_store_container = {{ glance_store_swift_container }}
swift_store_large_object_size = {{ glance_store_swift_large_obj_size }}
swift_store_large_object_chunk_size = {{ glance_store_swift_large_obj_chunk }}
swift_store_create_container_on_put = {{ glance_store_swift_create_container }}
swift_store_multi_tenant = {{ glance_store_swift_multi_tenant }}
default_swift_reference = {{ glance_store_default_store_reference }}
swift_store_auth_version = {{ glance_store_swift_auth_version }}
swift_store_config_file = {{ glance_api_conf_dir }}/{{ glance_store_swift_store_config_file }}
swift_store_ssl_compression = {{ glance_store_swift_ssl_compression }}
filesystem_store_datadir = {{ glance_store_filesystem_store_datadir }}

[audit_middleware_notifications]
driver = log

[oslo_messaging_notifications]
driver = {{ glance_api_notification_driver }}

[barbican]
auth_endpoint = {{ keystone_auth_url }}/v3
