{#
#
# (c) Copyright 2015-2016 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017-2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
# This file has the Ardana values that apply only to the KVM hypervisor.
# You may make changes to this file by adding sections/options below.

[DEFAULT]
# Compute
compute_driver = libvirt.LibvirtDriver

{% if nova_vcpu_pin_set != "" %}
# Hypervisor
vcpu_pin_set = {{ nova_vcpu_pin_set }}
{% endif %}

[libvirt]
block_migration_flag = VIR_MIGRATE_LIVE,VIR_MIGRATE_PEER2PEER,VIR_MIGRATE_NON_SHARED_INC,VIR_MIGRATE_UNDEFINE_SOURCE
inject_partition = 1
live_migration_bandwidth = 1000
live_migration_flag = VIR_MIGRATE_LIVE,VIR_MIGRATE_PEER2PEER
live_migration_progress_timeout = 300
snapshots_directory = {{ libvirt_snapshots_directory }}
snapshot_image_format = qcow2
volume_use_multipath = False
# SES Integration
{% if nova_ses_enabled|bool %}
images_type = rbd
images_rbd_pool = {{ nova_ses_pool_name }}
images_rbd_ceph_conf = {{ nova_ses_ceph_conf_file_path }}
rbd_user = {{ nova_ses_user_name }}
rbd_secret_uuid = {{ nova_ses_secret_uuid }}
{% endif %}

# VNC
[vnc]
novncproxy_base_url = {{ novncproxy_base_url }}
vncserver_listen = 0.0.0.0
vncserver_proxyclient_address = {{ vncserver_proxyclient_address }}
enabled = True

{% if neutron_ovs_bridge != ""  %}
[neutron]
ovs_bridge = {{ neutron_ovs_bridge }}
{% endif %}

## Do NOT put anything after this line ##
