{#
#
# (c) Copyright 2015-2017 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017-2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
# This configuration file includes the default values for Ardana
# Changes may be made to this file by the customer.

[DEFAULT]
state_path = {{ magnum_state_path }}
rootwrap_config = {{ magnum_rootwrap_config }}
host = {{ magnum_host }}
rpc_backend = {{ magnum_rpc_backend }}
transport_url = {{ magnum_rabbit_hosts_transport_url }}

[api]
host = {{ magnum_host }}
port = {{ magnum_port }}
api_paste_config = {{ magnum_api_paste_config }}

[barbican_client]
region_name = {{ barbican_region_name }}
endpoint_type = internalURL

[certificates]
# Certificate Manager plugin. Defaults to barbican. (string value)
#cert_manager_type = barbican
storage_path = {{ magnum_cert_file_location }}

[cinder_client]
region_name = {{ cinder_region_name }}

[drivers]
## Path to the OpenStack CA-bundle file to pass and install in all cluster
## nodes. (string value)
openstack_ca_file = {{ magnum_add_ca_cert_file }}

[database]
connection = {{ magnum_db_connection }}

[glance_client]
region_name = {{ glance_region_name }}
endpoint_type = internalURL

[heat_client]
region_name = {{ heat_region_name }}
endpoint_type = internalURL

# NOTE(gyee): This is @#$@!$% ugly! So Magnum is using the [keystone_auth]
# section in order to support Keystone V3. See
#
# https://review.openstack.org/#/c/274227/
#
# Unfortunately, keystone middleware is looking for the [keystone_authtoken]
# section for the Keystone authentication options. So we have two choices.
#
# 1. have a single [keystone_authtoken] section and put the legacy options
#    there (i.e. admin_user, admin_tenant_name, etc). The problem with this
#    approach is that the Magnum project must live in the Default domain as
#    it was meant for Keystone v2 backward compatibility.
# 2. create a new [keystone_auth] section which duplicate most of the stuff
#    in the [keystone_authtoken] section.
#
# I opted for 2 because we really need the flexibility to support Keystone
# v3 without any restricitons.
#
# TODO(gyee): we really need to convince upstream Magnum to use keystoneauth
# instead of inventing their own.
#
[keystone_auth]
auth_uri = {{ magnum_auth_uri }}
auth_url = {{ magnum_auth_uri }}
auth_type = password
identity_uri = {{ magnum_auth_identity_uri }}

region_name = {{ keystone_region_name }}
user_domain_name = {{ magnum_keystone_default_domain }}
project_domain_name = {{ magnum_project_domain_name }}
project_name = {{ magnum_project_name }}
username = {{ magnum_admin_user }}
password = {{ magnum_admin_password }}
service_token_roles_required = True

[keystone_authtoken]
auth_uri = {{ magnum_auth_uri }}
auth_url = {{ magnum_auth_uri }}
auth_type = password
identity_uri = {{ magnum_auth_identity_uri }}

region_name = {{ keystone_region_name }}
user_domain_name = {{ magnum_keystone_default_domain }}
project_domain_name = {{ magnum_project_domain_name }}
project_name = {{ magnum_project_name }}
username = {{ magnum_admin_user }}
password = {{ magnum_admin_password }}
service_token_roles_required = True

[magnum_client]
region_name = {{ magnum_region_name }}
endpoint_type = publicURL

[neutron_client]
region_name = {{ neutron_region_name }}
endpoint_type = internalURL

[nova_client]
region_name = {{ nova_region_name }}
endpoint_type = internalURL

[oslo_concurrency]
lock_path = {{ magnum_lock_path }}

[oslo_messaging_amqp]
ssl_ca_file = {{ magnum_ca_file }}

[oslo_messaging_rabbit]
ssl = {{ magnum_rabbit_use_ssl }}
rabbit_notification_exchange = magnum
rabbit_notification_topic = notification

[trust]
trustee_domain_id = {{ magnum_trustee_domain_id }}
trustee_domain_admin_id = {{ magnum_trustee_user_id }}
trustee_domain_admin_password = {{ magnum_trustee_user_password }}
cluster_user_trust = True
