{#
#
# (c) Copyright 2015,2017 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017-2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
[DEFAULT]
# Show debugging output in logs (sets DEBUG log level output)
#debug = False

# If `log_file` is omitted and `use_syslog` is false, then log messages are
# sent to stdout as a fallback.
log_config_append = {{ freezer_api_venv_conf_dir_by_version |
                       default(freezer_api_venv_conf_dir)
                       }}/freezer-api-logging.conf

# ================= Syslog Options ============================

# Send logs to syslog (/dev/log) instead of to file specified
# by `log_file`
use_syslogd = false

# Facility to use. If unset defaults to LOG_USER.
#syslog_log_facility = LOG_LOCAL0

# ================= Authtoken Options ============================

[keystone_authtoken]
auth_type = password
auth_uri = {{ freezer_keystone_auth_uri }}
auth_url = {{ freezer_keystone_auth_uri }}
username = {{ freezer_keystone_service_user }}
password = {{ freezer_keystone_service_password }}
user_domain_name = {{ freezer_keystone_user_domain_name }}
project_name = {{ freezer_keystone_service_project_name }}
project_domain_name = {{ freezer_keystone_project_domain_name }}
cafile = {{ freezer_keystone_cacert }}
include_service_catalog = False
token_cache_time = {{ freezer_api_token_cache_time }}
http_request_max_retries = {{ freezer_api_http_request_max_retries }}
service_token_roles_required = true
service_token_roles = admin
memcached_servers = {{ memcached_servers }}
memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcache_secret_key }}
memcache_pool_socket_timeout = 1


# ================= Storage Options ============================

[storage]
backend = elasticsearch

[elasticsearch]
hosts = http://{{ elasticsearch_http_host }}:{{ elasticsearch_http_port }}
timeout = {{ freezer_api_elasticsearch_timeout }}
retries = {{ freezer_api_elasticsearch_retries }}
number_of_replicas = {{ freezer_api_es_replicas }}
#use_ssl=False
#ca_certs=''

# ================= Paste Options ============================

[paste_deploy]
# Name of the paste configuration file that defines the available pipelines.
# (string value)
config_file = {{ freezer_api_venv_conf_dir_by_version |
                 default(freezer_api_venv_conf_dir)
                 }}/freezer-api-paste.ini

# ================= Audit Options ============================

[audit_middleware_notifications]
driver = log 
workers = 2

