#jinja2: newline_sequence:'\r\n'
{#
#
# (c) Copyright 2016 Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
# This configuration file includes the default values for HOS
# Changes may be made to this file by the customer.
# Layout / order of settings in this file can be found:
# http://docs.openstack.org/liberty/config-reference/content/list-of-compute-config-options.html

[DEFAULT]

logfile=nova-compute.log
{% if win_cluster | bool %}
compute_driver=nova.virt.hyperv.cluster.hadriver.HyperVHADriver
{% else %}
compute_driver=nova.virt.hyperv.driver.HyperVDriver
{% endif %}
instances_path="{{ win_instance_path }}"
policy_file="{{ win_policy_file_path }}"
mkisofs_cmd="{{ win_bin_dir }}\mkisofs.exe"
vif_plugging_timeout = 300
reserved_host_memory_mb = 12288

[hyperv]
qemu_img_cmd="{{ win_bin_dir }}\\qemu-img.exe"
limit_cpu_features=False
config_drive_inject_password=False
config_drive_cdrom = True
dynamic_memory_ratio=1
enable_instance_metrics_collection=False
